Alguém inscreveu o endereço @@addr no blog @@blogname.

Para confirmar a inscrição e selecionar as categorias que deseja
monitorar, por favor visite:

@@conf_url

Se você não se inscreveu ao blog, basta ignorar esta mensagem.
