<form id="newsletter" method="post" action="@@action" style="text-align:left">

	<p>Email: @@addr</p>
	<p><input type="radio" name="action" value="subscribe" checked="checked" />Selecione &nbsp; <input type="radio" name="action" value="unsubscribe" />Desinscrever</p>
	<p>@@cats</p>
	<p><input type="submit" name="submit" value="Save" /></p>
	@@vars
</form>
