<p>Grazie per esserti iscritto.<br \>
Riceverai una notifica tramite e-mail con un link per confermare la tua iscrizione. Tramite questo link potrai selezionare le categorie presenti in @@blogname di cui vuoi rimanere informato.</p>