<form id="newsletter" method="post" action="@@action" style="text-align:left">

	<p>E-mail: @@addr</p>
	<p><input type="radio" name="action" value="subscribe" checked="checked" />Seleziona &nbsp; <input type="radio" name="action" value="unsubscribe" />Rimozione</p>
	<p>@@cats</p>
	<p><input type="submit" name="submit" value="Salva" /></p>
	@@vars
</form>
