שלום,
קיבלתם דוא"ל זה כי כנראה נרשמתם לקבלת עדכונים אודות פוסטים חדשים בבלוג @@blogname באמצעות כתובת הדוא"ל @@addr.
בכדי להפעיל את המנוי ולבחור קטגוריות פוסטים אליהן תרצו להיות מנויים בבקשה הקליקו על הקישור המצורף:

@@conf_url

במידה ולא ביקשתם להירשם כמנויים לבלוג, פשוט התעלמו מדוא"ל זה והמנוי לא יופעל.