<p>תודה על שהינכם מבקשים להיות מנויים לבלוג זה.<br \><br \>
זה עתה נשלח אליכם דוא"ל עם קישור שנועד לאשר את הרישום שביצעתם זה עתה ולהפעיל את המנוי.	 בדף אליו מוביל הקישור תוכלו לבחור לאילו קטגוריות פוסטים תרצו להיות מנויים. <br \><br \> זיכרו – המנוי יופעל אך ורק לאחר שתקליקו על הקישור בדוא"ל שנשלח אליכם זה עתה!</p>
<br />
מערכת מנוי הדוא"ל פועלת על בסיס התוסף <a href="http://wordpress.org/extend/plugins/post-notification/" target="_blank"><u>Post Notification</u></a> אשר נכתב על ידי <a href="http://xn--strbe-mva.de/" target="_blank"><u>Moritz (Morty) Strübe</u></a>.
<br />
תרגום התוסף לעברית בוצע על ידי <a href="http://caspi.org.il/" target="_blank"><u>איתן כספי</u></a>.