<form id="newsletter" method="post" action="@@action" style="text-align:right">

	<p>בדף זה אתם יכולים לבחור לאילו קטגוריות של פוסטים הינכם מעוניינים להיות רשומים (או לבטל רישום) לקבלת דוא"ל אודות פוסט חדש שפורסם.</p>
	<p>כתובת הדוא"ל שלכם: @@addr</p>
	<p><input type="radio" name="action" value="subscribe" checked="checked" />רישום לקטגוריות &nbsp; <input type="radio" name="action" value="unsubscribe" />ביטול רישום לקטגוריות</p>
	<p>@@cats</p>
	<p><input type="submit" name="submit" value="אישור" /></p>
	@@vars
</form>
<br />
<div align="right" dir="rtl">
מערכת מנוי הדוא"ל פועלת על בסיס התוסף <a href="http://wordpress.org/extend/plugins/post-notification/" target="_blank"><u>Post Notification</u></a> אשר נכתב על ידי <a href="http://xn--strbe-mva.de/" target="_blank"><u>Moritz (Morty) Strübe</u></a>.
<br />
תרגום התוסף לעברית בוצע על ידי <a href="http://caspi.org.il/" target="_blank"><u>איתן כספי</u></a>.
</div>