קיבלתם דוא"ל זה מאחר וכנראה ביקשתם לבטל את את המנוי של כתובת הדוא"ל @@addr בבלוג @@blogname.
במידה ואכן ברצונכם לבטל את המנוי - בבקשה הקליקו על הקישור המצורף:

@@conf_url

במידה ולא ביקשתם לבטל את המנוי שלכם לבלוג זה, פשוט התעלמו מדוא"ל זה והמנוי יישאר פעיל.