It seems that you subscribed to be notified about postings to @@blogname with the e-mail address @@addr.

To confirm this and select the categories you want to subscribe to, please visit

@@conf_url

If you didn't subscribe to be notified about postings to the blog, please just ignore this e-mail.