<p>Thank you for subscribing <br \>
You'll get an e-mail notice with a link to confirm your subscription. With this link you may choose which categories of @@blogname you want to be informed about.</p>