Se solicitó la subscripción de esta dirección de mail (@@addr) para los posts del blog "@@blogname".

Para confirmarla y elegir las categorías a las cuales subscribir, por favor visitá:

@@conf_url

Si no deseás esta subscripción, por favor ignorá este mail.