<p>Gracias por subscribirte.<br \>
Recibirás un mail con un link para confirmar la subscripción. Con ese link podrás elegir las categorías de "@@blogname" para las cuales querés recibir información.</p>