<form id="newsletter" method="post" action="@@action" style="text-align:left">

	<p>E-mail: @@addr</p>
	<p><input type="radio" name="action" value="subscribe" checked="checked" />Seleccionar &nbsp; <input type="radio" name="action" value="unsubscribe" />Desubscribir</p>
	<p>@@cats</p>
	<p><input type="submit" name="submit" value="Grabar" /></p>
	@@vars
</form>
