<form id="newsletter" method="post" action="@@action" style="text-align:left">

	<p>E-mail: <input type="text" name="addr" size="30" maxlength="50" value="@@addr"/> </p>
	<p><input type="radio" name="action" value="subscribe" checked="checked" />Subscribirse &nbsp; <input type="radio" name="action" value="unsubscribe" />Desubscribirse</p>
	<!--capt--><p><img alt="captcha" src="@@captchaimg" /> <br />
	Por favor ingresá los caracteres: <input type="text" name="captcha" size="30" maxlength="50" />
	<input type="hidden" name="captchacode" value="@@captchacode" />
	</p><!--cha-->
	<p><input type="submit" name="submit" value="Listo" /></p>
	@@vars
</form>
