<h2>Enregistrement réussi</h2>
<p>Merci de vous être abonné. <br \>
Vous allez recevoir un courriel de confirmation. Dès votre accord, vous serez informé dès qu'un article paraîtra sur @@blogname.</p>