<p>Dank u voor uw aanmelding <br \>
U ontvangt binnenkort een email met daarin een link om uw aanmelding te bevestigen. Met deze link
kunt u ook kiezen van welke categorie(en) berichten op @@blogname u op de hoogte wilt blijven.</p>
