<p>Danke für die Registrierung. <br \>
Ihnen wurde soeben eine Email mit einem Aktivierunslink zugeschickt. 
Mit diesem können sie ihre Einstellungen ändern und die Kategorien von @@blogname auswählen,
über die Sie in Zukunft informiert werden möchten.</p>
