<form id="newsletter" method="post" action="@@action" style="text-align:left">

	<p>Email: @@addr</p>
	<p><input type="radio" name="action" value="subscribe" checked="checked" />Auswählen &nbsp; <input type="radio" name="action" value="unsubscribe" />Abmelden</p>
	<p>@@cats</p>
	<p><input type="submit" name="submit" value="Speichern" /></p>
	@@vars
</form>
